{% extends 'base.html' %} {% block titre %} Production / ajouter une nouvelle production {% endblock titre %} {% block barbtn %}{% endblock barbtn %} {%block contenu %}
<style>
    #msg {
        background-color: green;
        position: relative;
        top: 20px;
    }
    .form {
        position: relative;
        top: 60px;
    }
    
</style>
<center>
    <h2 id="msg">{{msg}}</h2>
    <form class="form" action="{% url 'ajoutfournisseurlien' %}" method="post" enctype="multipart/form-data">
        {% csrf_token%} {{ form.as_p}}
        <button type="submit">enregistrer</button>
    </form>
</center>

{%endblock contenu %}