{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title> gestProd</title>
</head>

<body>
    <header>
        <h1>GESTION DE LA PRODUCTION</h1>
        <div id="connexion">
            {% block connexion %} {% endblock %}
        </div>
    </header>
    <div class="sidebar">
        <ul>
            <li> <a href="{% url 'acceuil' %}">Acceuil</a></li>
            <li>
                <a href="{% url 'approvLien' %}">Approvisionnement</a>
            </li>
            <li>
                <a href="{% url 'prodLien' %}">Production</a>
            </li>
            <li>
                <a href="">Etape</a>
            </li>
            <li>
                <a href="">Stock Approvisionnement</a>
            </li>
            <li>
                <a href="">Stock vente</a>
            </li>
            <li>
                <a href="">Utilisateur</a>
            </li>
            <li>
                <a href="">Client</a>
            </li>
            <li>
                <a href="{% url 'fournisseurLien' %}">fournisseur</a>
            </li>
        </ul>
    </div>
    <div class="contenu">
        <div class="titre">
            <h4> {% block titre %} {% endblock titre %}</h4>
            <input type="button" value="Ajouter">
            <div class="barbtn">
                {% block barbtn %} {% endblock barbtn %}
                <!-- <input type="button" value="Ajouter"> -->
            </div>
        </div>
        {%block contenu %}{% endblock contenu %}
    </div>
</body>

</html>