{% extends 'base.html' %} 
{% block titre %}Etape de production/Detail{% endblock titre %} 
{% block barbtn %}
<input type="button" value="Ajouter">
<input type="button" value="modifier">
<input type="button" value="supprimer">
{% endblock barbtn %}
 


{% block contenu %}

    <style>
        .container {
            position: relative;
            top: 50px;
            max-width: 600px;
            border: 0px solid #00bcd4;
            background-color: #efefef33;
            padding: 15px;
            overflow: auto;
            margin: auto;
            border-radius: 4px;
            line-height: 60px;
        }
        #carl dt{
            display: block;
            width: 250px;
            float: left;
            text-align: right;
            padding: 0 10px 00;
            font-weight: bold;
        }
        #carl dl dd{
            display: block;
            width: 450px;
            padding: 0;
            margin: 00 10px 0;

        }
    </style>

    <div class ="container">
            <dl id="carl">
                <dt> libelle:</dt>
                <dd>{{ undetail.libelle }}</dd>
                <dt> quantite produite :</dt>
                <dd>{{ undetail.qteproduite }}</dd>
                <dt> quantite de dechet :</dt>
                <dd>{{ undetail.qtedechet }} </dd>
                <dt> code de production :</dt>
                <dd>{{ undetail.prod.codeprod }}</dd>
                <dt> cout de la production :</dt>
                <dd>{{ undetail.coutdeletape }}</dd>
                <dt> designation :</dt>
                <dd>{{ undetail.description }} </dd>
            </dl>
    </div>
    
{% endblock contenu %}